<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <a class="brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <nav class="nav">
          <a href="{{ site.baseurl }}/">Blog</a>
          <a href="{{ site.baseurl | replace: '/blog','' }}/">Home</a>
        </nav>
      </div>
    </header>
    <main class="container">
      {{ content }}
    </main>
    <footer class="site-footer">
      <div class="container">© {{ 'now' | date: '%Y' }} {{ site.title }}</div>
    </footer>
  </body>
  </html>
